.container {
    background-color: #995DB5;
    width: 240px;
    height: 240px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 8px;
    display: flex;
    padding: 8px;

}

.box {

    margin-top: 5px;
    background-color: #F7941F;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 8px;


}


.box2 {
    margin-top: 5px;
    background-color: #F7941F;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

}


body {
    display: flex;
    gap: 40px;
}

.container2 {
    background-color: #995DB5;
    width: 240px;
    height: 240px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 8px;
    padding: 8px;
}


.container3 {
    background-color: #995DB5;
    width: 240px;
    height: 240px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.parent {
    display: flex;
    gap: 8px;
}


.container4 {
    background-color: #995DB5;
    width: 240px;
    height: 240px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.box4 {

    margin-top: 5px;
    background-color: #F7941F;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 8px;
}

.container5 {
    background-color: #995DB5;
    width: 240px;
    height: 240px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 8px;
    display: flex;
    padding: 8px;
}

.box5 {

    margin-top: 5px;
    background-color: #F7941F;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 8px;


}

.container0 {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    gap: 50px;
    margin: auto;

}

.container6{
    background-color: #995DB5;
    width: 240px;
    height: 240px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 8px;
    display: flex;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
}

.box6{

    margin-top: 5px;
    background-color: #F7941F;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 8px;
}


.container7{
    background-color: #995DB5;
    width: 240px;
    height: 240px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 8px;
    display: flex;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.box7{

    margin-top: 5px;
    background-color: #F7941F;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 8px;


}

.box8{

    margin-top: 5px;
    background-color: #F7941F;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 8px;
}

.container8 {
    background-color: #995DB5;
    width: 240px;
    height: 240px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 8px;
    display: flex;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.container9{
    background-color: #995DB5;
    width: 240px;
    height: 240px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 8px;
    display: flex;
    padding: 8px;
}

.box9{

    margin-top: 5px;
    background-color: #F7941F;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 8px;
    }

    .container10{
        background-color: #995DB5;
        width: 240px;
        height: 240px;
        border: 1px solid black;
        border-radius: 10px;
        gap: 8px;
        display: flex;
        padding: 8px;
        display: flex;
        align-items: end;
    }
    
    .box10{
    
        margin-top: 5px;
        background-color: #F7941F;
        width: 50px;
        height: 50px;
        border: 1px solid #000;
        border-radius: 8px;
        }

        .container11{
            background-color: #995DB5;
            width: 240px;
            height: 240px;
            border: 1px solid black;
            border-radius: 10px;
            gap: 8px;
            display: flex;
            padding: 8px;
            display: flex;
            align-items: center;
        }
        
        .box11{
        
            margin-top: 5px;
            background-color: #F7941F;
            width: 50px;
            height: 50px;
            border: 1px solid #000;
            border-radius: 8px;
            }

            .container12{
                background-color: #995DB5;
                width: 240px;
                height: 240px;
                border: 1px solid black;
                border-radius: 10px;
                gap: 8px;
                display: flex;
                padding: 8px;
                display: flex;
                justify-content: space-around;
            }
            
            .box12{
            
                margin-top: 5px;
                background-color: #F7941F;
                width: 50px;
                height: 50px;
                border: 1px solid #000;
                border-radius: 8px;
                }